<div class="mat-card-cvr">
    <mat-form-field>
       <mat-select placeholder="Select Category" name="productCategory" (selectionChange)="productChangeAction(productCategory)" [(ngModel)]="productCategory" >
         <mat-option *ngFor="let category of categoryList" [value]="category.categoryId" >{{ category.categoryName }}</mat-option>
       </mat-select>
     </mat-form-field> 
     <br>
     <br>
     <mat-form-field *ngIf="loadProduct">
        <mat-select placeholder="Select Product" name="product" (selectionChange)="productChange(product)" [(ngModel)]="product" >
          <mat-option *ngFor="let product of productList" [value]="product.productId" >{{ product.productName }}</mat-option>
        </mat-select>
      </mat-form-field> 
</div>

<div *ngIf="loadCommentTable">
    <table mat-table class="mat-elevation-z" [dataSource]="dataSource" >
     <ng-container matColumnDef="comments">
         <th mat-header-cell *matHeaderCellDef>Comment</th>
         <td mat-cell *matCellDef="let row;">{{row.comments}}</td>
     </ng-container>
     <ng-container matColumnDef="commentsDate">
         <th mat-header-cell *matHeaderCellDef>comments Date</th>
         <td mat-cell *matCellDef="let row;">{{row.commentsDate}}</td>
     </ng-container> 
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
 </table>
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
 
 </div>
 