<mat-toolbar color="primary">
    <span class="fill-remaining-space">Welcome to admin login</span> &nbsp;&nbsp;
    <button mat-raised-button color="accent"><a [routerLink]="['/add-product']">Add Product</a></button>&nbsp;&nbsp;
    <button mat-raised-button color="accent"><a [routerLink]="['/update-product']">Update Product</a></button>&nbsp;&nbsp;
    <!-- <button mat-raised-button color="accent"><a [routerLink]="['/delete-product']">Delete Product</a></button>&nbsp;&nbsp;
    <button mat-raised-button color="accent"><a [routerLink]="['/disable-product']">Disable Product</a></button>&nbsp;&nbsp; -->
    <button mat-raised-button color="accent"><a [routerLink]="['/user-list']">User List</a></button>&nbsp;&nbsp;
    <button mat-raised-button color="accent"><a [routerLink]="['/top-product']">Top 100 Product</a></button>&nbsp;&nbsp;
    <button mat-raised-button color="accent"><a [routerLink]="['/product-comment']">Product Comments</a></button>&nbsp;&nbsp;
    <button mat-raised-button color="accent"><a [routerLink]="['/view-offers-admin']">View Offers</a></button>&nbsp;&nbsp;
    <button mat-raised-button color="accent"><a [routerLink]="['/add-offers']">Add Offers</a></button>
</mat-toolbar>
