<div *ngIf="loadUserCartTable">
    <table mat-table class="mat-elevation-z" [dataSource]="dataSource" >
     <ng-container matColumnDef="productName">
         <th mat-header-cell *matHeaderCellDef>Product Name</th>
         <td mat-cell *matCellDef="let row;">{{row.productName}}</td>
     </ng-container>
     <ng-container matColumnDef="productPrice">
         <th mat-header-cell *matHeaderCellDef>Product Price</th>
         <td mat-cell *matCellDef="let row;">{{row.productPrice}}</td>
     </ng-container> 
     <ng-container matColumnDef="quantity">
         <th mat-header-cell *matHeaderCellDef>Product Quantity</th>
         <td mat-cell *matCellDef="let row;">{{row.quantity}}</td>
     </ng-container>
     <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Total Price</th>
        <td mat-cell *matCellDef="let row;">{{row.productPrice * row.quantity}}</td>
    </ng-container>
    
     <ng-container matColumnDef="addDate">
         <th mat-header-cell *matHeaderCellDef>Product Added Date</th>
         <td mat-cell *matCellDef="let row;">{{row.addDate}}</td>
     </ng-container> 
     <ng-container matColumnDef="buyProduct">
         <th mat-header-cell *matHeaderCellDef>Buy Product</th>
         <td mat-cell *matCellDef="let row;">
             <button mat-icon-button (click)="buyProduct(row)" color="primary" aria-label="Example icon button with a home icon">
                 <mat-icon>card_travel</mat-icon>
                 </button>	
         </td>
     </ng-container>
 
 
     <ng-container matColumnDef="changeQuantity">
         <th mat-header-cell *matHeaderCellDef>Change Quantity</th>
         <td mat-cell *matCellDef="let row;">
             <button mat-icon-button (click)="changeProductQuantity(row)" color="primary" aria-label="Example icon button with a home icon">
             <mat-icon>cached</mat-icon>
             </button>	
         </td>
     </ng-container>
     <ng-container matColumnDef="delete">
         <th mat-header-cell *matHeaderCellDef>Remove Product</th>
         <td mat-cell *matCellDef="let row;">
             <button mat-icon-button (click)="deleteProductFromCart(row)" color="primary" aria-label="Example icon button with a home icon">
             <mat-icon>delete</mat-icon>
             </button>	
         </td>
     </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
 </table>
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
 
 </div>
 